* {
    box-sizing: border-box;
}

body {
    --gap: 1rem;
    font-family: ui-sans-serif, system-ui, snas-serif;
}

button {
    background-color: hsl(90, 50%, 30%);
    border: 0;
    color: hsl(90, 50%, 95%);
    margin-block-start: var(--gap);
    padding: calc(var(--gap) / 2) var(--gap);
}

button.listening {
    background-color: hsl(0, 50%, 50%);
    color: hsl(0, 50%, 95%);
}

code {
    background: #333;
    color: lime;
    display: block;
    padding: calc(var(--gap) / 2);
}

fieldset {
    background: #EEE;
    border: 1px solid #BBB;
    padding: var(--gap);
}

form {
    margin: 0 auto;
    max-width: 30rem;
}

input,
textarea {
    border: 1px solid #BBB;
    display: block;
    padding: calc(var(--gap) / 2);
    resize: vertical;
    width: 100%;
}

label {
    display: block;
    font-weight: 500;
    margin-block-start: var(--gap);
}

p {
    font-size: small;
}

h2 {
    text-align: center;
}

form legend {
    text-align: center;
}